
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened = true class="col-lg-2">
    <div *ngIf="authService.isUserLoggedIn">
      <a [routerLink] = "['work/orderList']">Work Order List</a>
      <a class="wo-details" [routerLink] = "['work/orderDetails']">Work Order Details</a>

    </div>


  </mat-sidenav>

  <mat-sidenav-content class="col-lg-10">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img src="./../assets/svgs/solid/bars.svg" (click)="sidenav.toggle()">
    <span>Field Services</span>
    <div class="spacer"></div>
    <p *ngIf="authService.isUserLoggedIn">{{user_info?.userName}}</p>
    <button *ngIf="authService.isUserLoggedIn" class="btn logoutButton" (click)="logout()">Logout</button>
</div>


